{% extends 'chairman/index.html'%}
{%load static%}
 
{% block content %} 
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Gallery <small class="text-muted">Welcome to Digital Society</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Digital Society</a></li>
                                                                                        <li class="breadcrumb-item active">Video Gallery</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Video Gallery</strong>  
            </div>
            <div class="body">
                <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                    {% for i in all_videos %}
                    <video width="320" height="240" controls>
                        <source src="{{i.video.url}}" type="video/mp4">
                    </video>
                    <a href="{% url 'deletevideo' pk=i.id %}"><i class="zmdi zmdi-delete"></i></a>
                    {%endfor%}
                    
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
        </section>

{% endblock %} 
               